<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (jogador(); as jogadorRef) {
      <div>
        <h2 data-cy="jogadorDetailsHeading"><span>Jogador</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ jogadorRef.id }}</span>
          </dd>
          <dt><span>Nome</span></dt>
          <dd>
            <span>{{ jogadorRef.nome }}</span>
          </dd>
          <dt><span>Posicao</span></dt>
          <dd>
            <span>{{ jogadorRef.posicao }}</span>
          </dd>
          <dt><span>Numero Camisa</span></dt>
          <dd>
            <span>{{ jogadorRef.numeroCamisa }}</span>
          </dd>
          <dt><span>Time</span></dt>
          <dd>
            @if (jogador()!.time) {
              <div>
                <a [routerLink]="['/time', jogador()!.time?.id, 'view']">{{ jogadorRef.time?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/jogador', jogadorRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
