<div>
  <h2 id="page-heading" data-cy="PartidaHeading">
    <span>Partidas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-partida"
        [routerLink]="['/partida/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Partida</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (partidas().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Partidas found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="data">
              <div class="d-flex">
                <span>Data</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="local">
              <div class="d-flex">
                <span>Local</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="pontuacaoTime1">
              <div class="d-flex">
                <span>Pontuacao Time 1</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="pontuacaoTime2">
              <div class="d-flex">
                <span>Pontuacao Time 2</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="times.id">
              <div class="d-flex">
                <span>Times</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="campeonato.id">
              <div class="d-flex">
                <span>Campeonato</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (partida of partidas(); track trackId(partida)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/partida', partida.id, 'view']">{{ partida.id }}</a>
              </td>
              <td>{{ partida.data | formatMediumDate }}</td>
              <td>{{ partida.local }}</td>
              <td>{{ partida.pontuacaoTime1 }}</td>
              <td>{{ partida.pontuacaoTime2 }}</td>
              <td>
                @for (times of partida.times; track $index; let last = $last) {
                  <span>
                    <a class="form-control-static" [routerLink]="['/time', times.id, 'view']">{{ times.id }}</a
                    >{{ last ? '' : ', ' }}
                  </span>
                }
              </td>
              <td>
                @if (partida.campeonato) {
                  <div>
                    <a [routerLink]="['/campeonato', partida.campeonato.id, 'view']">{{ partida.campeonato.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/partida', partida.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a [routerLink]="['/partida', partida.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(partida)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
